@tailwind base;
@tailwind components;
@tailwind utilities;

/* .elementToFadeInAndOut {
-webkit-animation: fadeinout linear forwards;
animation: fadeinout  linear forwards;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
} */